
#ammonite_pic {
    float:left;
    width: 150px;
	height: 150px;
	margin-top:10px;
}
#ammonite_pic img {
    border-radius: 75px;
}

#ammonite_text {
    margin-left:165px;
}

#ammonite_stuff {
    border:none;
    border-top:1px solid #e8e8e8;
}

#ammonite_stuff h2 {
    margin-top:20px;
}

.post-link {
    padding-left:3px;
}